# Base de datos
DATABASE_URL="postgresql://username:password@localhost:5432/techcare_db"

# Variables de entorno para producción (Neon)
# DATABASE_URL="postgresql://username:password@ep-xxx-xxx.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Google AI (Genkit)
GOOGLE_GENAI_API_KEY="your-google-ai-api-key"

# Netlify
NETLIFY_SITE_ID="your-netlify-site-id"
NETLIFY_ACCESS_TOKEN="your-netlify-access-token"
